In [1]:
%load_ext sql
%sql duckdb:///:memory:
%sql INSTALL delta; LOAD delta;

The 'toml' package isn't installed. To load settings from pyproject.toml or ~/.jupysql/config, install with: pip install toml

Connecting to 'duckdb:///:memory:'

Running query in 'duckdb:///:memory:'

+---------+
| Success |
+---------+
+---------+

In [6]:
%%sql
SELECT * FROM delta_scan('../data/gold/arbitrage_opportunities')
LIMIT 10;

Running query in 'duckdb:///:memory:'

+--------------------------------+-----------------+-----------+----------+-----------+------------+---------------+
|              name              |       type      | archetype | price_cm | price_tcg | price_diff | price_gap_pct |
+--------------------------------+-----------------+-----------+----------+-----------+------------+---------------+
|          Blood Mefist          | Synchro Monster |    None   |  20.34   |  1800.00  |  1779.66   |     8749.6    |
| Testament of the Arcane Lords  |  Effect Monster |    None   |  739.77  |    0.00   |   739.77   |     100.0     |
| Chimaera, the Master of Beasts |  Effect Monster |    None   |  103.44  |   600.00  |   496.56   |     480.0     |
|     Anotherverse Stratios      |  Normal Monster |    None   |  400.00  |    0.00   |   400.00   |     100.0     |
|      Anotherverse Dragon       |  Normal Monster |    None   |  30.00   |   381.20  |   351.20   |     1170.7    |
|          Garma Sword           |  Ritual Monster |    None   |  104.08  |   369.99  |   265.91   |     255.5     |
|      Ten Thousand Dragon       |  Effect Monster |    None   |  929.81  |   719.16  |   210.65   |      22.7     |
|             Ulevo              |  Effect Monster |    None   |  200.00  |    0.00   |   200.00   |     100.0     |
| Noritoshi in Darkest Rainment  |   Link Monster  |    None   |  198.00  |    0.00   |   198.00   |     100.0     |
|         Skull Guardian         |  Ritual Monster |    None   |   9.29   |   201.61  |   192.32   |     2070.2    |
+--------------------------------+-----------------+-----------+----------+-----------+------------+---------------+
Truncated to displaylimit of 10.

In [5]:
%sql ROLLBACK;

Running query in 'duckdb:///:memory:'

+---------+
| Success |
+---------+
+---------+

In [2]:
%%sql
SELECT 
    *
FROM 
    delta_scan('data/gold/arbitrage_opportunities')
WHERE 
    price_diff > 15 
    AND price_diff < 100
    AND price_tcg != 0 
ORDER BY 
    price_diff DESC;

Running query in 'duckdb:///:memory:'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(_duckdb.IOException) IO Error: DeltaKernel InvalidTableLocationError (28): Invalid table location: Path does not exist: "data/gold/arbitrage_opportunities/".

LINE 4:     delta_scan('data/gold/arbitrage_opportunities')
            ^
[SQL: SELECT
    *
FROM
    delta_scan('data/gold/arbitrage_opportunities')
WHERE
    price_diff > 15
    AND price_diff < 100
    AND price_tcg != 0
ORDER BY
    price_diff DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)